{% extends "base.html" %} {% block title %} Habits | Habits and Goals {%
endblock %} {% block content %}
  <h2>Active Habits</h2>

  <p>
    Habits are a tool that can be entered allowing you to keep track of what you need to do,
    this can either be daily, weekly or even monthly.
  </p>

  <p>
    <a href="{{ url_for('habits.create') }}">Create New Habit</a>
  </p>

  {% if habits %}
  <ul>
    {% for habit in habits %}
  <li>
    <strong> <a href="{{ url_for('habits.details', habit_id=habit.id) }}">
    {{ habit["name"] }} </a> </strong>

    <br />
    Category: {{ habit.category_name if habit.category_name else "No category" }}
    <br />
    Frequency: {{ habit.frequency }}
    <br />
    Target: {{ habit.target_amount }} {{ habit.unit }}
    <br />
    Current streak: {{ habit.current_streak }}
    <br />
    Longest streak: {{ habit.longest_streak }}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No habits have been created yet.</p>

{% endif %} {% endblock %}
